#a{
    width: 30px;
    height: 25px;
}
#b{
    width: 30px;
    height: 25px;
}
#c{
    width: 30px;
    height: 25px;
}
#d{
    width: 30px;
    height: 25px;
}
body{
    width: 100vw;
    height: 100vh;
    
}

#mainheading{
 width: 90%; 
 height: 90%;  
 
 
 
}
#heading{
    width: 89%;
    border: 10px double greenyellow;
    text-align: center;
    color:green;
    background-color: lightcoral;
    margin-left: 4%;
    background-image: url();
    background-size: contain;
}
#mandel{
    width: 70%;
    border: 8px dotted blue;
    text-align: center;
    display: inline-block;
}

#logo1{
    position: fixed;
    left: 75%;
    top: 20px;
    width:75px;
height: 75px;
}
#nonteach{
    
 overflow: auto;  
 width: 95%; 
 height: 150px;
 border: 7px solid green;
 text-align: center;
 font-size: .3rem;
 color: blue;
}
#gps{
    
    overflow: auto;  
    width: 95%; 
    height: 150px;
    border: 7px solid green;
    text-align: center;
    font-size: .3rem;
    color: blue;
   }

#teach{
    position: sticky;
    overflow: auto;
    width: 95%;
    min-width: 300px; 
 height: 220px;
 border: 6px solid red;
  text-align: center; 
  font-size: .3rem;
  color: blue; 

}
.class1{
    position: sticky;
    overflow: auto;
    width: 90%;
    min-width: 300px; 
 height: 150px;
 border: 6px solid greenyellow;
  text-align: center; 
  font-size: .3rem;
  color: blue;
  
   
}
#background{
    border: 5px solid orangered;
    color: red;
    background-image: url();
    background-size: contain;
}
#m{
    width: 200px;
    height: 200px;

}
#m2{
    width: 200px;
    height: 200px;

}

#m3{
    width: 200px;
    height: 200px;

}

#m4{
    width: 200px;
    height: 200px;

}
#mar{
    background-image: url();
    background-size:cover;
}


#map{
    width: 30px;
    height: 37px;
    }
    #map1{
        width: 30px;
        height: 37px;
        }    
        table{
            border: 2px solid black;
            width: 20%;
            min-width: 200px;
            height: 160px;
            min-height:130px ;
            
            border-spacing: 20px;
            background-color: tomato;
            font-size: 2.5rem;
            border-collapse: separate;
            margin-left: 10px;
           
            
        }
        td{
            border: 2px solid black;
            background-color: aqua;
        border-radius: 20px;
        
            text-align: center;
        }
        td:hover{
            background-color: greenyellow;
            color: bisques;
        }
             
        
        img{
            width:50px;
            height: 45px;
            border-radius: 10px;
        }
            #a{
            color: red;
        }
        #b{
            color: rgb(2, 62, 86);
        }
        #c{
            color: beep green;
        }
        
        #c1{
            color: black;
        }
        #c2{
            color: black;
        }
        h1{
            color: black;
        }
        h2{
            color: blue;
        }





